.reviewsContainer {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

@media screen and (min-width: 768px) {
  .reviewsContainer {
    flex-direction: row;
    gap: 24px;
    margin-top: 44px;
  }
}

.reviews {
  width: 430px;
}

.reviewHeader {
  display: flex;
  gap: 16px;
  align-items: center;
  margin-bottom: 16px;
}

.reviewRating {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.reviewContent {
  margin-bottom: 24px;
}

.avatar {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background-color: #f2f4f7;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 18px;
  font-weight: bold;
  color: #e44848;
}

@media screen and (min-width: 768px) {
  .avatar {
    font-size: 24px;
  }
  .starRating {
    display: flex;
    align-items: center;
  }

  .starIcon {
    width: 20px;
    height: 20px;
    fill: #ffc107;
  }
}

.reviewName {
  font-size: 18px;
  font-weight: 600;
  line-height: 1.3;
}
