.modalBackdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}
.cardRating {
  color: #101828;
  text-decoration-line: underline;
}
.modalContent {
  background: #fff;
  padding: 20px;
  border-radius: 8px;
  width: 90%;
  max-width: 90%;
  max-height: 90%;
  overflow-y: auto;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@media screen and (min-width: 768px) {
  .modalContent {
    padding: 40px;
    border-radius: 20px;
    width: auto;
    height: auto;
  }
}

@media screen and (min-width: 1024px) {
  .modalContent {
    width: auto;
    padding: 40px;
  }
}

.modalClose {
  position: absolute;
  top: 40px;
  right: 40px;
  background: none;
  border: none;
  font-size: 32px;
  cursor: pointer;
  padding: 0;
  line-height: 0.5;
}

.gallery {
  display: flex;
  gap: 16px;
  justify-content: space-around;
  margin-bottom: 24px;
}

.gallery img {
  width: 150px;
  height: 160px;
  border-radius: 4px;
  object-fit: cover;
}

@media screen and (min-width: 768px) {
  .gallery img {
    width: 170px;
    height: 180px;
    border-radius: 8px;
  }
  .containerOne {
    display: flex;
    place-items: center;
    gap: 4px;
  }
  .containerTwo {
    display: flex;
    place-items: center;
    gap: 4px;
  }
}

@media screen and (min-width: 1024px) {
  .gallery img {
    width: 290px;
    height: 310px;
    border-radius: 10px;
  }
}

.modalTitle {
  margin-bottom: 10px;
}

.modalRating {
  color: #101828;
  text-decoration: underline;
}

.modalLocation {
  margin-bottom: 16px;
  color: #101828;
}

.modalPrice {
  margin-bottom: 24px;
  font-size: 24px;
  font-weight: 600;
  color: #101828;
  line-height: 1.5;
}

.modalDescr {
  margin-bottom: 44px;
}

@media screen and (min-width: 768px) {
  .ratingCont {
    display: flex;
    gap: 16px;
    align-items: center;
  }
}

.tabs {
  display: flex;
  justify-content: start;
  gap: 40px;
  border-bottom: 1px solid rgba(16, 24, 40, 0.2);
}

.tabs a {
  text-decoration: none;
  color: #101828;
  position: relative;
  padding-bottom: 24px;
  font-size: 20px;
  font-weight: 600;
  line-height: 1.2;
}

.tabs a.activeTab::after {
  content: "";
  display: block;
  width: 85px;
  height: 5px;
  background-color: #e44848;
  position: absolute;
  bottom: -2px;
  left: 0;
}

.tabs a.inactiveTab {
  color: #101828;
}
.iconStar {
  fill: #ffc531;
}
