.wrap {
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 20px;
}

@media screen and (min-width: 768px) {
  .wrap {
    display: flex;
    gap: 64px;
    padding-top: 100px;
    padding-left: 64px;
    padding-right: 64px;
  }

  .filters {
    flex: 0 0 auto;
  }

  .cards {
    display: flex;
    flex-direction: column;
    gap: 32px;
  }
}

.btnLoadMore {
  display: block;
  padding: 16px 32px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 200px;
  border: 1px solid rgba(71, 84, 103, 0.2);
  cursor: pointer;
  color: #101828;
  background: #fff;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: -0.08px;
  margin-top: 18px;
  margin-bottom: 20px;
  margin-right: auto;
  margin-left: auto;
}

.btnLoadMore:hover,
.btnLoadMore:focus {
  border: 1px solid #7a000046;
}
