.btn {
  display: inline-flex;
  padding: 16px 40px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 200px;
  background: #e44848;
  color: #ffffff;
  outline: none;
  border: none;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: -0.08px;
  cursor: pointer;
}

.btn:hover,
.btn:focus {
  background: #d84343;
}
